* {
    margin: 0;
    padding: 0;
}

body {
    margin: 7% 15%;
    padding: 7% 15%;
    justify-content: center;

    background-color: #212529;
    color: #ffd60a;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

#title {
    font-size: 55px;
    color: #FB4570;
}

.about-highlight {
    color: #FB4570;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    flex-shrink: 0;
}

#education-header {
    color: #71e7e0;
}

#education-content div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.education-highlight {
    color: #71e7e0;
}

#projects-header {
    color: #603f8b;
}

.projects-highlight {
    color: #603f8b;
}

#certificates-header {
    color: #c5e5a5;
}

.certificates-highlight {
    color: #c5e5a5;
}

#contact-header {
    color: #ff8370;
}

.contact-highlight {
    color: #ff8370;
}